{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fildset class = "form-group">
            <legend class="border-button mb-4">Log in!</legend>
            {{ form|crispy }}
        </fildset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>

    <div class="border-top pt-3">
        <small class="text-mutad">
            Does not have an account? <a class="ml-2" href="{% url 'register' %}">Sign In</a>
        </small>
    </div>

</div>    

{% endblock %}