{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    
    <h2> You been log out</h2>

    <div class="border-top pt-3">
        <small class="text-mutad">
            <a  href="{% url 'login' %}"> Log In Again? </a>
        </small>
    </div>

</div>    

{% endblock %}