{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fildset class = "form-group">
            <legend class="border-button mb-4">Join!</legend>
            {{ form|crispy }}
        </fildset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>

    <div class="border-top pt-3">
        <small class="text-mutad">
            Have an accounts> <a class="ml-2" href="#">{% url 'login' %}</a>
        </small>
    </div>

</div>    

{% endblock %}