{% extends 'blog/base.html' %}
{% block content %}

        <article class="media content-section">
            <img class="rounded-cirtcle article-img" src = "{{object.author.profile.image.url}}"/>
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted }}</small>
                {% if object.author == user  %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'article-update' object.id %}">Update</a>
                <a class="btn btn-denger btn-sm mt-1 mb-1" href="{% url 'article-delete' object.id %}">Delete</a>
                {% endif %}

                </div>
                <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
                <p class="article-content">{{ object.content }}</p>
            </div>
        </article>

{% endblock %}