{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fildset class = "form-group">
            <legend class="border-button mb-4">New Article</legend>
            {{ form|crispy }}
        </fildset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>

</div>    

{% endblock %}