{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fildset class = "form-group">
            <legend class="border-button mb-4">Delete Post</legend>
            <h3>Are you delete {{ object.title }}</h3>
        </fildset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes</button>
            <a class="btn btn-outline-secondary" href="{% url 'article-detail' object.id  %}">Cancel</a>
        </div>
    </form>

</div>    

{% endblock %}